<%- include('../partials/header') %>
<div style="margin: 2rem; padding: 2rem;">
    <a class="btn btn-primary btn-lg" href="/projects" role="button">Projects</a>
</div>
<%- include('../partials/footer') %>